<script>
  var pusher = new Pusher("<%= ENV.fetch("PUSHER_KEY") %>");
  var channel = pusher.subscribe("<%= current_user.id %>");
  channel.bind('greeting-event', function(data) {
    $("#greetings").prepend(data.message);

  });
</script>

<div id="main">
  <%= form_for :greeting, html:{id: "greeting_form"} do |form| %>
    <div>
      <%= form.label :body, "Write your greeting", class: "body-prompt" %>
      <%= form.text_field :body %>
    </div>
    <div>
        Send Greeting to: 
        <%= form.collection_select :reciever_id, User.all, :id, :username %>
    </div>
    <div>
      <%= form.submit "Send Greeting" %>
    </div>
  <% end %>

  <h2>Greetings to you </h2>
  <ul class="greetings-container">
    <%= render @greetings %>
  </ul>
</div>
