<script>
  var pusher = new Pusher("<%= ENV.fetch("PUSHER_KEY") %>");
  var channel = pusher.subscribe("<%= current_user.id %>");
  channel.bind('greeting-event', function(data) {
    $("#greetings").prepend(data.message);

  });
</script>

<div id="main">
  <%= form_for :greeting, html:{id: "greeting_form"} do |form| %>
    <div id="greeting-prompt">
      <%= form.label :body, "Write your greeting" %>
      <%= form.text_field :body %>
    </div>
    <div id="select-receiver">
        Send Greeting to: 
        <%= form.collection_select :reciever_id, User.all, :id, :username %>
    </div>
    <div id="send-greeting">
      <%= form.submit "Send Greeting" %>
    </div>
  <% end %>

  <h2>Greetings to you </h2>
  <ul class="greetings-container">
    <% if @greetings.present? %>
      <%= render @greetings %>
    <% else %>
      <h3>You have no greetings yet</h3>
      <p id="encourage">Try sending a greeting first</p>
    <% end %>
  </ul>
</div>
