<!DOCTYPE html>
<html>
<head>
  <title>Greetr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="http://js.pusher.com/2.2/pusher.min.js"></script>

</head>
<body>

<% if signed_in? %>
	<p>You are signed in as <%= current_user.username %>... <%= link_to "Sign Out", :session, method: :delete %></p>
<% end %>

<%= render "flash_msg" %>

<%= yield %>

</body>
</html>
