<!DOCTYPE html>
<html>
<head>
  <title>Greetr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
	<%= link_to "Sign Out", :session, method: :delete %>
<% end %>

<%= render "flash_msg" %>

<%= yield %>

</body>
</html>
